body{
  margin: 0;
  font-family: "Helvetica", sans-serif;
  color: seashell;
  background-color: black;
  font-size: 22px;
  text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

header {
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 69px;
    background-color: black;
    border-bottom: 1px solid seashell;
    align-items: center;
}

.logo{
  margin-left: 10px;
  height: 50px;
}

nav {
    text-align: right;
    flex-grow: 1;
}

nav span {
    display: inline-block;
    padding: 20px 10px;
}

header img {
    height: 50px;
    padding-left: 10px;
}

header a{
  color: seashell;
}

h2,h4{
  margin-bottom: 5px;
  margin-top: 10px;
}

.main {
    padding-top: 69px;
    opacity: 0.9;
    width: 1200px;
    margin: auto;
    text-align: center;
}
#mission {
    height: 700px;
    background-image: url(../images/img-mission-background.jpg);
    padding-top: 70px;
}

#mission .content {
    margin: auto;
    background-color: black;
    width: 100%;
}

#featuredtea{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  margin-top: 40px;
  width: 1000px;
}

.flex-shop{
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  /*align-items: baseline;*/
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}

.product{
  width: 300px;
  display: block;

}

.product img{
  height: 200px;
  margin-bottom: 0px
}

#locations{
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  height: 500px;
  justify-content: center;
  background-image: url(../images/img-locations-background.jpg);
  padding-top: 0px;
}

#locations .title{
  display: flex;
  justify-content: center;
  width: 1200px;
  height: 100px;

}

#locations h2{
  margin-top: 70px;
  margin-bottom: 15px;
}

#locations .address_box{
  display: flex;
  width: 980px;
  justify-content: space-between;
  flex-wrap: wrap;

}

.address{
  width: 300px;
  height: 250px;
  opacity: 1;
  background-color: black;
  text-align: center;
  display: block;
}

.bottom{
  height: 200px;
  display: block;
}

.footer{
  text-align: left;
  justify-content: left;
}
